# Empty CSS file for your own CSS

.div-interna {
	margin: auto;
}

	h3{
		color: rgb(120, 187, 120);
		font-style:italic;
	}

.bg-white {
	background-color: #ffffff;
	color: white;
	border-radius: 1rem;
	border:solid #a3d3a756;
}

.bg-dark {
	background-color: #2c2c2c;
	color: white
}

.div-menu {
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	margin-bottom: 15px;
}

.table th {
	cursor: pointer !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
	bottom: .5em;
}

.table-striped tbody tr.highlight:nth-child(odd) td {
    background-color: rgb(167, 238, 139);
	/*font-weight: bold;*/
}

.table-striped tbody tr.highlight:nth-child(even) td {
    background-color: rgba(158, 218, 134, 0.5);
	/*font-weight: bold;*/
}

.thead-green {
	background-color: rgb(120, 187, 120);
	color: #fff;
}

.footer {
	background-color: rgb(120, 187, 120);
	color: #fff;
  width: 100%;           
}

.tfoot-dark {
	background-color: rgba(60, 63, 66, 0.8);
	color: #fff;
	border-color: #32383e;
}

#inputBuscar {
	background-image: url('../img/searchicon.png'); /* Add a search icon to input */
	background-position: 8px 6px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 70%; /* Full-width */
	height: 2rem;
	font-size: 12px; /* Increase font-size */
	padding: 14px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	border-radius: 2rem;
	/* margin-bottom: 12px; /* Add some space below the input */
}
